[submodule "SoundCloudAPI/Outsourced/OAuth2Client"]
	path = SoundCloudAPI/Outsourced/OAuth2Client
	url = git://github.com/nxtbgthng/OAuth2Client.git
[submodule "TestApps/Support/JSON"]
	path = TestApps/Support/JSON
	url = git://github.com/stig/json-framework.git
